@use "../utils" as U;

.grid {
  display: grid;
  max-width: 1000px;
}
.header {
  width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  // gap: 2%;

  & p,
  h3 {
    text-align: center;
    margin-left: 2.5em;
  }

  &__parent__nav {
    text-align: right;

    // & ul {
    //   @include U.breakpoint(medium) {
    //     gap: 15px;
    //     padding: 4px;
    //   }
    // }

    & ul li {
      margin-bottom: 75px;
      padding: 2px 0;
    }
  }
}
